// app global css in SCSS form

:root {
  --retro-bg: #12121e;
  --retro-primary: #cd3e33;
  --retro-secondary: #3e6ec1;
  --retro-accent: #f8d928;
  --retro-text: #ffffff;

  --snes-light: #C9CACE;
  --snes-dark: #81868A;
  --snes-blue: #1454B4;
  --snes-yellow: #D3AD31;
  --snes-red: #BB192B;
  --snes-green: #14875A;
}

body {
  font-family: 'snes', sans-serif;
  /* Aplica a fonte ao app todo */
  background-color: var(--retro-bg);
  color: var(--retro-text);
}

@font-face {
  font-family: snes;
  src: url(/src/css/fonts/snes.ttf);
}

.snes-font {
  font-family: 'snes';
}

@font-face {
  font-family: street;
  src: url(/src/css/fonts/street.ttf);
}

.street-font {
  font-family: 'street';
}

@font-face {
  font-family: 'minecraft';
  src: url(/src/css/fonts/minecraft.ttf)
}

.minecraft-font {
  font-family: 'minecraft';
}

@font-face {
  font-family: 'daydream';
  src: url(/src/css/fonts/daydream.otf)
}

.daydream-font {
  font-family: 'daydream';
}


@font-face {
  font-family: 'mario';
  src: url(/src/css/fonts/mario.ttf)
}

.mario-font {
  font-family: 'daydream';
}

@font-face {
  font-family: 'upheaval';
  src: url(/src/css/fonts/upheaval.fon)
}

.upheaval-font {
  font-family: 'upheaval';
}