// app global css in SCSS form

:root {
  --retro-bg: #12121e;
  --retro-primary: #cd3e33;
  --retro-secondary: #3e6ec1;
  --retro-accent: #f8d928;
  --retro-text: #ffffff;

  --snes-light: #c9cace;
  --snes-dark: #81868a;
  --snes-blue: #1454b4;
  --snes-yellow: #d3ad31;
  --snes-red: #bb192b;
  --snes-green: #14875a;
}

body {
  font-family: 'snes', sans-serif;
  /* Aplica a fonte ao app todo */
  background-color: var(--retro-bg);
  color: var(--retro-text);
}

@font-face {
  font-family: snes;
  src: url(/src/css/fonts/snes.ttf);
}

.snes-font {
  font-family: 'snes';
}

@font-face {
  font-family: street;
  src: url(/src/css/fonts/street.ttf);
}

.street-font {
  font-family: 'street';
}

@font-face {
  font-family: 'minecraft';
  src: url(/src/css/fonts/minecraft.ttf);
}

.minecraft-font {
  font-family: 'minecraft';
}

@font-face {
  font-family: 'daydream';
  src: url(/src/css/fonts/daydream.otf);
}

.daydream-font {
  font-family: 'daydream';
}

@font-face {
  font-family: 'mario';
  src: url(/src/css/fonts/mario.ttf);
}

.mario-font {
  font-family: 'daydream';
}

@font-face {
  font-family: 'upheaval';
  src: url(/src/css/fonts/upheaval.fon);
}

.upheaval-font {
  font-family: 'upheaval';
}

@font-face {
  font-family: 'star';
  src: url(/src/css/fonts/star.ttf);
}

.star-font {
  font-family: 'star';
}

@font-face {
  font-family: 'alien';
  src: url(/src/css/fonts/alien.otf);
}

.alien-font {
  font-family: 'alien';
}

.street-yellow {
  color: $street-yellow;
}

@font-face {
  font-family: 'bttf';
  src: url(/src/css/fonts/bttf.ttf);
}

.bttf-font {
  font-family: 'bttf';
}
.bttf {
  background: linear-gradient(to bottom, #F04D22 0%, #F8911B 45%, #FFCA14 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: .5px #008AD0;
  filter: drop-shadow(1px .5px 0px #008AD0);
}

// Small caption utility for consistent 10px text
.caption-10 {
  font-size: 10px;
}
