// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #C9CACE;
$secondary: #12121e;
$accent: #d3ad31;
$dark: #1d1d1d;
$dark-page: #121212;

$positive: #14875a;
$negative: #bb192b;
$info: #31ccec;
$warning: #f2c037;

$retro-bg: #1a1a2d;
$retro-primary: #cd3e33;
$retro-secondary: #3e6ec1;
$retro-accent: #f8d928;
$retro-text: #ffffff;

$snes-light: #c9cace;
$snes-dark: #81868a;
$snes-darker: #5A5B60;
$snes-blue: #1454b4;
$snes-yellow: #d3ad31;
$snes-red: #bb192b;
$snes-green: #14875a;

$street-yellow: #F3F300;
$street-red: #FF0000;